@import url("https://fonts.googleapis.com/css?family=Lato");
html,
body {
  margin: 0;
  padding: 5px;
  font-family: "Lato", sans-serif;
  background: #282c34;
  color: white; }

ul,
ol {
  list-style: none;
  padding: 0; }

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column; }

.navigation {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; }

.song {
  padding: 5px 0px; }

.song__title {
  font-size: 14px;
  padding-bottom: 2px; }

.song__artist {
  font-size: 12px; }
