@import url("https://fonts.googleapis.com/css?family=Raleway|Fredoka+One");
a > .button,
button,
.button {
  background-color: #3b4252;
  border: none;
  color: white;
  font-family: "Raleway";
  font-weight: 400;
  padding: 10px 20px;
  transition: all 300ms ease-in-out; }
  a > .button:hover,
  button:hover,
  .button:hover {
    cursor: pointer;
    color: #2e3440;
    background-color: #d8dee9; }
  a > .button.button--wide,
  button.button--wide,
  .button.button--wide {
    padding: 10px 40px; }
  a > .button.button--extra-wide,
  button.button--extra-wide,
  .button.button--extra-wide {
    padding: 10px 60px; }
  a > .button.button--inverse,
  button.button--inverse,
  .button.button--inverse {
    color: #2e3440;
    background-color: #d8dee9; }
    a > .button.button--inverse:hover,
    button.button--inverse:hover,
    .button.button--inverse:hover {
      cursor: pointer;
      color: white;
      background-color: #3b4252; }

#root {
  height: 100%; }

html,
body,
.App {
  margin: 0;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  background: white;
  color: #3b4252;
  height: 100%;
  position: relative; }

.container {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
  position: relative;
  grid-template-areas: "navigation" "app" "controls"; }

.routeless {
  height: 100%;
  grid-area: app;
  padding: 0 10px;
  overflow-y: scroll; }

ul,
ol {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none;
  color: #434c5e; }
  a:visited {
    color: #434c5e; }

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-area: controls; }

.navigation {
  display: grid;
  grid-area: navigation;
  grid-template-columns: 1fr max-content 1fr;
  padding-top: 5px;
  align-items: center;
  font-family: "Fredoka One";
  min-height: 37px; }

.navigation__item {
  padding-left: 10px;
  font-size: 18px;
  justify-self: stretch; }

.navigation__logo {
  justify-self: stretch;
  font-family: "Fredoka One";
  font-size: 24px;
  justify-self: center; }

.song {
  padding: 5px 0px;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) auto;
  grid-gap: 10px; }

.song__details {
  overflow: hidden;
  white-space: nowrap; }

.song__title {
  font-size: 14px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  overflow: hidden; }

.song__artist {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px; }

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 25px;
  right: 10px;
  top: 10px; }

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #2e3440;
  border-radius: 5px; }

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #5e81ac; }

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px; }

/* Color/shape of close button cross */
.bm-cross {
  background: #d8dee9; }

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%; }

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em; }

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47; }

/* Wrapper for item list */
.bm-item-list {
  color: #d8dee9;
  padding: 0.8em; }
  .bm-item-list:visited {
    color: #d8dee9; }

/* Individual item */
.bm-item {
  display: inline-block;
  color: #d8dee9;
  padding: 0.8em;
  text-decoration: none; }
  .bm-item:visited {
    color: #d8dee9; }

/* Styling of overlay */
.bm-overlay {
  background: #2e3440; }

#appRouter {
  height: 100%;
  grid-area: app;
  padding: 0 10px;
  overflow-y: scroll;
  grid-area: app; }

.loading {
  display: grid;
  height: 100%;
  width: 100%;
  grid-area: app;
  background: rgba(216, 222, 233, 0.8);
  z-index: 100;
  color: rgba(255, 255, 255, 0); }

.loading__image {
  align-self: center;
  justify-self: center;
  max-width: 50%;
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite; }

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

.myPlaylists {
  height: 100%; }

.playlist__header {
  display: grid;
  justify-content: center;
  text-align: center; }

.playlist__image {
  padding-top: 30px;
  justify-self: center;
  max-width: 300px; }

.playlistTable {
  display: grid;
  background-color: #d8dee9;
  padding: 10px;
  border-radius: 5px;
  grid-gap: 10px; }

.userIndex {
  display: grid;
  grid-auto-flow: rows;
  height: 100%;
  justify-content: center; }

.userIndex__buttons {
  display: grid;
  justify-items: center;
  grid-gap: 10px;
  grid-template-rows: min-content min-content min-content; }

.login {
  display: grid;
  text-align: center;
  grid-auto-rows: min-content;
  grid-gap: 20px;
  align-content: center; }

.login__cassette {
  margin-top: -40px;
  width: auto;
  justify-self: center;
  max-width: 50%; }
