@import url("https://fonts.googleapis.com/css?family=Lato");
html,
body {
  margin: 0;
  padding: 5px;
  font-family: "Lato", sans-serif;
  background: #282c34;
  color: white; }

ul,
ol {
  list-style: none;
  padding: 0; }

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column; }

.navigation {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; }

.song {
  padding: 5px 0px;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) auto;
  grid-gap: 10px; }

.song__details {
  overflow: hidden;
  white-space: nowrap; }

.song__title {
  font-size: 14px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  overflow: hidden; }

.song__artist {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px; }
