.song {
  padding: 5px 0px;
  display: grid;
  grid-template-columns: minmax(auto, 1fr) auto;
  grid-gap: 10px;
}

.song__details {
  overflow: hidden;
  white-space: nowrap;
}
.song__title {
  font-size: 14px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.song__artist {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
}
