.userIndex {
  display: grid;
  grid-auto-flow: rows;
  height: 100%;
  justify-content: center;
}

.userIndex__buttons {
  display: grid;
  // grid-auto-flow: row;
  justify-items: center;
  grid-gap: 10px;
  grid-template-rows: min-content min-content min-content;
  // & > a {
  //   display: inline;
  // }
}
