#root {
  height: 100%;
}
html,
body,
.App {
  margin: 0;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  background: white;
  color: $polar-2;
  height: 100%;
  position: relative;
}

.container {
  // padding: 10px;
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
  position: relative;

  grid-template-areas:
    "navigation"
    "app"
    "controls";
}

.routeless {
  height: 100%;
  grid-area: app;
  padding: 0 10px;
  overflow-y: scroll;
}
