#root {
  height: 100%;
}
html,
body,
.App {
  margin: 0;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  background: white;
  color: black;
  height: 100%;
}

.container {
  // padding: 10px;
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "navigation"
    "app"
    "controls";
}
